# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

# Experiment outputs
experiments/
results/
*.zip

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
